version: '3'
services:
  postgres-db:
    container_name: postgres-db
    image: postgres:latest
    restart: always
    ports:
      - "5432:5432"
    environment:
      POSTGRES_USER: lemongrab
      POSTGRES_PASSWORD: adom
      POSTGRES_DB: sept-main
    volumes:
      - ./scripts/create_structure.sql:/docker-entrypoint-initdb.d/create_structure.sql