#appointmentsContainer {
    
}

#appointmentsContainerBody {
    padding: 2%;
}

#appointmentsContainer h1 {
    margin-top: 0px;
    padding-bottom: 5px;

    font-size: 30px;
    font-style: italic;
}

#appointmentContainer {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: flex-start;
    flex-wrap: wrap;
    background-color: #eaf6ff;
    margin: 20px 2% 0px 2%;
    padding: 5px 5px;
    border-radius: 10px;
}

#date {
    font-weight: 600;
}

#app-left {
    float: left;
    width: 67%;
}

#app-right {
    float: right;
    width: auto;
}

.timeDiv {
    text-align: center;
    width: 40%;
}

.infoDiv {
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.timeDiv p, .infoDiv p {
    margin: 10px 0px;
}

.removeBooking {
    border: 2px solid black;
    border-radius: 3px;
    background-color: red;
    cursor: pointer;
}
    
.holdsAllAppointmentsDivAsWorkerAdmin {
    display: grid;
    grid-template-columns: 33% auto auto;
}

.holdsAllAppointmentsDivAsCustomer {
    display: grid;
    grid-template-columns: 33% auto auto;
}