#appointmentsContainer {
    
}

#appointmentsContainerBody {
    padding: 2%;
}

#appointmentsContainer h1 {
    margin-top: 0px;
    padding-bottom: 5px;

    font-size: 30px;
    font-style: italic;
}

#appointmentContainer {
    display: flex;
    flex-direction: column;

    background-color: #90caf9;

    margin: 20px 3% 0px 3%;
    padding: 5px 5px;
    border-radius: 10px;
}

.timeDiv {
    width: 40%;
    border-right: 5px solid #121212;
}

.timeDiv p {
    font-size: 16px;
    text-align: center;
}

.infoDiv p {
    font-size: 16px;
    text-align: center;
    margin-left: 20px;

.removeBooking {
    border: 2px solid black;
    border-radius: 3px;
    background-color: red;
    cursor: pointer;

.holdsAllAppointmentsDivAsWorkerAdmin {
    display: grid;
    grid-template-columns: 25% 25% 25% 25%;
}