#appointmentsContainer {
    flex-direction: row;
    margin: 20px 20px;
}

#appointmentsContainer h1 {
    padding-top: 30px;
    padding-bottom: 5px;

    font-size: 30px;
    font-style: italic;
    border-bottom: 2px solid blue;
}

#appointmentContainer {
    display: flex;
    flex-direction: row;

    background-color: #90caf9;

    margin: 20px auto;
    padding: 5px 5px;
    border-radius: 30px;
}

.timeDiv {
    width: 40%;
    border-right: 5px solid #121212;
}

.timeDiv p {
    font-size: 16px;
    text-align: center;
}

.infoDiv p {
    font-size: 16px;
    text-align: center;
    margin-left: 20px;
}