#dashboardContainer {
    display: flex;
    flex-direction: column;

    margin-left: 10%;
    margin-right: 1%;
    text-align: center;
    height: 100%;
    width: 15%;
}

.dashboardButton {
    margin-top: 4%;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 4%;

    height: 40px;
    width: 85%;

    font-weight: bold;
    color: white;
    background-color: #01295f;
    border-radius: 6px;
    border: 0px;
    font-size: 90%;
}

.card-header {
    font-weight: bold;
    color: #0c1e36;
    background-color: #eeeeee !important;
}