.homeContainer {
    display: flex;
    flex-direction: column;
}

.homeMainArea {
    display: flex;
    flex-direction: column;

    width: 63%;
    margin: 0px 1%;
}

#dashboardMainContainer {
    display: flex;
    flex-direction: row;
}