#loginContainer {
    padding-top: 10%;
    display: flex;
    justify-content: center;
    align-items: center;
}

#logoArea img {
    width: 300px;
}

#header {
    padding-top: 10%;
    padding-bottom: 2%;
    padding-left: 15%;
    text-align: left;
    font-size: 20px;
}

#loginFormArea {
    width: 450px;
}

#loginFormArea input {
    padding: 2%;
    display: block;
    margin-top: 12px;
    margin-left: auto;
    margin-right: auto;
    width: 70%;
    border: 1px solid lightgray;
    border-radius: 6px;
}

.submitBtn {
    margin-bottom: 2%;
    background-color: #242331;
    color: white;
    font-weight: bold;
}

#footer {
    float: left;
    padding-left: 15%;
}

#footer p, #footer a {
    font-size: 15px;
}
