.profileContainer {
    display: flex;
    flex-direction: row;
    align-items: center;
    height: auto;
}

#avatarContainer {
    margin: 10% 10%;
    text-align: center;
}

#avatarContainer p {
    font-size: 24px;
    font-weight: bold;
}

#avatarContainer img {
    display: block;
    margin: auto auto 30px auto;
    border: 5px solid #01295f;
    border-radius: 100%;
    width: 60%;
}

#profileDetailsContainer {
    margin: 3% 1%;
    width: 50%;
    height: auto;
}

#profileDetailsContainer span {
    font-size: 16px;
}

#profileDetailsContainer input {
    margin: 10px 0px;
    width: 100%;
    border: 1px lightgray solid;
    border-radius: 6px;
    padding: 1%;
}

#profileButtons {
    
}

#updateProfileBtn {
    background-color: #01295f;
    color: white;
    font-weight: bold;
    font-size: 16px;
}

#deleteProfileBtn {
    background-color: rgb(190, 72, 72);
    color: white;
    font-weight: bold;
    font-size: 16px;
}