#signupContainer {
    margin-top: 4%;
    margin-left: auto;
    margin-right: auto;
    height: 40%;
    width: 40%;
}

#signupForm input {
    padding: 2%;
    display: block;
    margin-top: 12px;
    margin-left: auto;
    margin-right: auto;
    width: 70%;
    border: 1px solid lightgray;
    border-radius: 6px;
}
