#supportLinks {
    text-align: right;
}

.individualSupportItem {
    padding: 0px 15px;
    font-size: 20px;
}

.buttonAsText { 
    background:none;border:none; 
    padding: 0px 15px;
    font-size: 20px;
    border: none;
    cursor: pointer;
}

.buttonAsText:hover {
    text-decoration: underline;
}

.modalText {
    font-size: 30px;
    white-space: pre-line;
}
