#bookings, #admin-bookings, #admin-business-hours {
    /*
    display: flex;
    justify-content: center;
    align-items: center;
    padding-top: 50px;
    */
    height: 85vh;
    margin: 20px 10px;
}

#adminWorkerSelection {
    margin: 0 auto;
}

#workerTag {
    margin-right: 20px;
}

.rbc-day-slot .rbc-events-container {
    margin-right: 0px;
}
