#workerListContainer {
    flex-direction: row;
}

#workerListContainer h1 {
    font-size: 30px;
    font-style: italic;
}

.workerDetails {
    font-size: 20px;
}

.idAndRole {
    font-size: 20px;
    float: right;
}

#workerContainer {
    padding: 15px;
    margin: 20px;
    background-color: #90caf9;
}

.personIcon {
    width: 50;
    height: 400px;
}

.removeBtn {
    border: 2px solid black;
    border-radius: 3px;
    background-color: red;
    cursor: pointer;

    margin-left: 30px;
}

.addBtn {
    font-size: 13px;
    border: 2px solid black;
    border-radius: 3px;
    background-color: aqua;
    cursor: pointer;

    float: right;
    width: 100px;
    font-weight: bold;
}

#closeModalBtn {
    position: absolute;
    left: 50%;
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);

    border: 2px solid black;
    border-radius: 3px;
    background-color: red;
    cursor: pointer;

    font-weight: bold;
    margin-top: 5px;
}

#newWorkerFormArea {
    text-align: center;
}

#newWorkerFormArea p {
    font-weight: bold;
    font-size: 20px;
}

#newWorkerForm input {
    display: block;
    margin-top: 10px;
    margin-left: auto;
    margin-right: auto;
    width: 70%;

    border: 2px solid blue;
    border-radius: 3px;
}

#submitNewWorkerBtn {
    margin-top: 20% !important;
    margin-bottom: 182px;
    padding: 10px 20px;
    
    background-color: blue;
    color: white;

    cursor: pointer;
}