# master-flow.yaml
# On change to master, build docker images
# and push yaml to AWS

name: Deploy to Kubernetes AWS EC2
on:
  push:
    branches: [master]
  pull_request:
    branches: [master]

jobs:
  job-1:
    name: Call Deploy Script
    runs-on: ubuntu-latest
    steps:
      - name: SSH into AWS EC2 Instance & Call Deploy Script
        uses: garygrossgarten/github-action-ssh@release
        with:
          command: (cd ~/majorproject-8-mon-17-30-4-lemonfruits/.deployment/; sh runner.sh)
          host: ${{ secrets.HOST }}
          username: ${{ secrets.USERNAME}}
          privateKey: ${{ secrets.PRIVATE_KEY}}

